<%= form_with(model: pet, local: true) do |form| %>
  <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :race %>
    <%= form.text_field :race %>
  </div>
  
  <div class="field">
    <%= form.label :dueño %>
    <%= form.select(:cliente_id,  options_for_select(@clientes_array), prompt: "Selecciona categoria")  %>
  </div>

  <div class="field">
    <%= form.label :dbay %>
    <%= form.date_select :dbay %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
