<%= form_with(model: pethistory, local: true) do |form| %>
  <% if pethistory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pethistory.errors.count, "error") %> prohibited this pethistory from being saved:</h2>

      <ul>
      <% pethistory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :alto %>
    <%= form.number_field :alto %>
  </div>

  <div class="field">
    <%= form.label :peso %>
    <%= form.number_field :peso %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :pet_id %>
    <%= form.select(:pet_id,  options_for_select(@pets_array), prompt: "Selecciona categoria")  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
