<p id="notice"><%= notice %></p>
<p>
  <strong>Pet:</strong>
  <%= @pethistory.pet.name %>
</p>
<p>
  <strong>Alto:</strong>
  <%= @pethistory.alto %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @pethistory.peso %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pethistory.description %>
</p>



<%= link_to 'Edit', edit_pethistory_path(@pethistory) %> |
<%= link_to 'Back', pethistories_path %>
